<html>
  <head>
    <link rel="icon" href="/img/weather-icon.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <img class= "portrait" src="img/me & chlaiah.PNG" />
    </div>
    {{>footer}}
  </body>
</html>