<html>
  <head>
    <link rel="icon" href="/img/weather-icon.png">
    <title>404</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    
      {{>header}}
      <p>{{body}}</p>
    </div>
    {{>footer}}
  </body>
</html>

